<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TC01</key>
	<dict>
		<key>Module</key>
		<string>Login</string>
		<key>Objective</key>
		<string>Login with correct username and password</string>
		<key>ExpectedResult</key>
		<string>Application should allow the user enter the main page of the application.</string>
	</dict>
    <key>TC02</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>TC03</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>TC04</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>TC05</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>TC06</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>TC07</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>TC08</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>TC09</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>TC10</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>TC11</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>TC12</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>TC13</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>TC14</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>TC15</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
</dict>
</plist>
