<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Module</key>
		<string>Login</string>
		<key>Objective</key>
		<string>Login with correct username and password</string>
		<key>ExpectedResult</key>
		<string>Application should allow the user enter the main page of the application.</string>
	</dict>
    <key>2</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>3</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>4</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>5</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>6</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>7</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>8</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>9</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>10</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>11</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>12</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>13</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>14</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
    <key>15</key>
    <dict>
        <key>Module</key>
        <string>Login</string>
        <key>Objective</key>
        <string>Login with correct username and password</string>
        <key>ExpectedResult</key>
        <string>Application should allow the user enter the main page of the application.</string>
    </dict>
</dict>
</plist>
